# GISAID Transformation

In [1]:
import pandas as pd

# Load the Excel file
file_path = 'gisaid_variants_statistics_2024_11_02_2052.xlsx'
excel_data = pd.ExcelFile(file_path)

# Initialize an empty DataFrame to store the final data
final_df = pd.DataFrame(columns=['Country', 'Attribute', 'Value', 'Variant'])

In [2]:
for i, sheet_name in enumerate(excel_data.sheet_names[1:], start=1):
    # Read the sheet into a DataFrame
    df = pd.read_excel(excel_data, sheet_name=sheet_name)
    
    # Extract the variant name from the sheet name
    variant_name = sheet_name.split()[-1]
    
    # Create a variable with the variant name and assign the DataFrame to it
    globals()[f'df_{variant_name}'] = df
    # Print the variant name or store it somewhere if needed
    print(f'df_{variant_name} created')

df_Omicron created
df_Delta created
df_Alpha created
df_Beta created
df_Gamma created
df_Epsilon created
df_Zeta created
df_Eta created
df_Theta created
df_Iota created
df_Kappa created
df_Lambda created

In [3]:
# List to store all DataFrames
all_dfs = []

# Loop through the sheet names starting from the second sheet
for sheet_name in excel_data.sheet_names[1:]:
    # Read the sheet into a DataFrame
    df = pd.read_excel(excel_data, sheet_name=sheet_name)
    
    # Extract the variant name from the sheet name
    variant_name = sheet_name.split()[-1]
    
    # Rename the first column to 'country'
    df.columns = ['country'] + list(df.columns[1:])
    
    # Remove rows where the 'country' column has NaN values
    df = df.dropna(subset=['country'])
    
    # Remove the second column
    df.drop(df.columns[1], axis=1, inplace=True)
    
    # Reshape the DataFrame
    df = pd.melt(df, id_vars=['country'], var_name='Date', value_name='Value')
    
    # Change NaN values to 0 in the 'Value' column
    df['Value'].fillna(0, inplace=True)
    
    # Add a column for the variant name
    df['Variant'] = variant_name
    
    # Append the DataFrame to the list
    all_dfs.append(df)
    

# Combine all DataFrames into one
combined_df = pd.concat(all_dfs, ignore_index=True)

# Display the first few rows of the combined DataFrame to verify
print(combined_df.head())

C:\Users\sharm\AppData\Local\Temp\ipykernel_5148\4205344510.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Value'].fillna(0, inplace=True)
C:\Users\sharm\AppData\Local\Temp\ipykernel_5148\4205344510.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Value'].fillna(0, inplace=True)
C:\Users\sharm\AppData\Local\Temp\ipykernel_5148\4205344510.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Value'].fillna(0, inplace=True)
C:\Users\sharm\AppData\Local\Temp\ipykernel_5148\4205344510.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Value'].fillna(0, inplace=True)
C:\Users\sharm\AppData\Local\Temp\ipykernel_5148\4205344510.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Value'].fillna(0, inplace=True)
C:\Users\sharm\AppData\Local\Temp\ipykernel_5148\4205344510.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Value'].fillna(0, inplace=True)
C:\Users\sharm\AppData\Local\Temp\ipykernel_5148\4205344510.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Value'].fillna(0, inplace=True)
C:\Users\sharm\AppData\Local\Temp\ipykernel_5148\4205344510.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Value'].fillna(0, inplace=True)
C:\Users\sharm\AppData\Local\Temp\ipykernel_5148\4205344510.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Value'].fillna(0, inplace=True)
C:\Users\sharm\AppData\Local\Temp\ipykernel_5148\4205344510.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Value'].fillna(0, inplace=True)
C:\Users\sharm\AppData\Local\Temp\ipykernel_5148\4205344510.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Value'].fillna(0, inplace=True)

          country        Date  Value  Variant
0     Afghanistan  2019-12-29    0.0  Omicron
1         Albania  2019-12-29    0.0  Omicron
2         Algeria  2019-12-29    0.0  Omicron
3  American Samoa  2019-12-29    0.0  Omicron
4         Andorra  2019-12-29    0.0  Omicron

C:\Users\sharm\AppData\Local\Temp\ipykernel_5148\4205344510.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Value'].fillna(0, inplace=True)

In [4]:
combined_df['Variant'].unique()

array(['Omicron', 'Delta', 'Alpha', 'Beta', 'Gamma', 'Epsilon', 'Zeta',
       'Eta', 'Theta', 'Iota', 'Kappa', 'Lambda'], dtype=object)

In [5]:
combined_df.to_excel('Combined_all_1.xlsx', index=False)

C:\Users\sharm\AppData\Local\Temp\ipykernel_25904\2505915625.py:1: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.3' currently installed).
  combined_df.to_excel('Combined_all_1.xlsx', index=False)

In [26]:
combined_df['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
       'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Canary Islands', 'Cayman Islands', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Crimea', 'Croatia', 'Cuba',
       'Curacao', 'Cyprus', 'Czech Republic',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Estonia', 'Eswatini',
       'Ethiopia', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Grenada', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of the Congo', 'Reunion', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Vincent and the Grenadines', 'Samoa', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten', 'Slovakia', 'Slovenia', 'Solomon Islands',
       'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tanzania', 'Thailand', 'The Bahamas', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turks and Caicos Islands', 'U.S. Virgin Islands', 'USA', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Zambia',
       'Zimbabwe', 'Fiji', 'Jersey', 'Saint Barthelemy',
       'Sao Tome and Principe', 'Timor-Leste', 'Faroe Islands',
       'Guinea-Bissau', 'Wallis and Futuna Islands'], dtype=object)

# Vaccination Transformation world covid data.

In [18]:
import pandas as pd

# Load the CSV file
file_path = 'vaccinations_global.csv'
excel_data = pd.read_csv(file_path)

# Initialize the DataFrame with the selected columns
Vaccination_df = excel_data[['country', 'date', 'daily_vaccinations_smoothed']]

In [37]:
Vaccination_df.rename(columns={'country': 'location','daily_vaccinations_smoothed':'daily_vaccinations'}, inplace=True)

C:\Users\sharm\AppData\Local\Temp\ipykernel_5148\3279130956.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Vaccination_df.rename(columns={'country': 'location','daily_vaccinations_smoothed':'daily_vaccinations'}, inplace=True)

NameError: name 'accination_df' is not defined

In [40]:
Vaccination_df['daily_vaccinations'].fillna(0, inplace=True)

# Round down decimal values to the nearest lower integer
Vaccination_df['daily_vaccinations'] = np.floor(Vaccination_df['daily_vaccinations']).astype(int)

C:\Users\sharm\AppData\Local\Temp\ipykernel_5148\171703304.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Vaccination_df['daily_vaccinations'].fillna(0, inplace=True)
C:\Users\sharm\AppData\Local\Temp\ipykernel_5148\171703304.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Vaccination_df['daily_vaccinations'].fillna(0, inplace=True)
C:\Users\sharm\AppData\Local\Temp\ipykernel_5148\171703304.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Vaccination_df['daily_vaccinations'] = np.floor(Vaccination_df['daily_vaccinations']).astype(int)

In [41]:
Vaccination_df.head()

      location        date  daily_vaccinations
0  Afghanistan  2021-02-22                   0
1  Afghanistan  2021-02-23                1366
2  Afghanistan  2021-02-24                1366
3  Afghanistan  2021-02-25                1366
4  Afghanistan  2021-02-26                1366

In [43]:
Vaccination_df.to_excel('Vaccination_23.xlsx', index=False)

C:\Users\sharm\AppData\Local\Temp\ipykernel_5148\924176653.py:1: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.3' currently installed).
  Vaccination_df.to_excel('Vaccination_23.xlsx', index=False)

In [27]:
import numpy as np

# Define both arrays (ensure they are complete)
dddd = np.array([Vaccination_df['country'].unique()])  # Fill in the array with all values
ffff = np.array([combined_df['country'].unique()])  # Fill in the array with all values

# Find differences
in_combined_not_vaccination = np.setdiff1d(dddd, ffff)
in_vaccination_not_combined = np.setdiff1d(ffff, dddd)

print("In Combined_df but not in Vaccination_df:", in_combined_not_vaccination)
print("In Vaccination_df but not in Combined_df:", in_vaccination_not_combined)

In Combined_df but not in Vaccination_df: ['Africa' 'Asia' 'Bahamas' 'Bonaire Sint Eustatius and Saba' 'Cape Verde'
 'Congo' 'Czechia' 'Democratic Republic of Congo' 'East Timor' 'Europe'
 'European Union (27)' 'Falkland Islands' 'Greenland' 'Guernsey'
 'High-income countries' 'Isle of Man' 'Low-income countries'
 'Lower-middle-income countries' 'Macao' 'Nauru' 'North America' 'Oceania'
 'Saint Helena' 'San Marino' 'Sint Maarten (Dutch part)' 'South America'
 'Tajikistan' 'Tokelau' 'Turkmenistan' 'Tuvalu' 'United States'
 'Upper-middle-income countries' 'Wallis and Futuna' 'World' 'Yemen']
In Vaccination_df but not in Combined_df: ['American Samoa' 'Bonaire' 'Cabo Verde' 'Canary Islands' 'Crimea'
 'Czech Republic' 'Democratic Republic of the Congo' 'French Guiana'
 'Guadeloupe' 'Guam' 'Marshall Islands' 'Martinique' 'Mayotte'
 'Micronesia' 'Northern Mariana Islands' 'Palau' 'Puerto Rico'
 'Republic of the Congo' 'Reunion' 'Saint Barthelemy' 'Saint Martin'
 'Sint Maarten' 'The Bahamas' 'Timor-Leste' 'U.S. Virgin Islands' 'USA'
 'Wallis and Futuna Islands']

In [29]:

import numpy as np

df1 = pd.read_excel(r'C:\Users\sharm\Documents\My Folder\Project_SARS\Combined_all.xlsx')
df2 = pd.read_excel(r'C:\Users\sharm\Documents\My Folder\Project_SARS\Vaccination_22.xlsx')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453096 entries, 0 to 453095
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Country    453096 non-null  object
 1   Attribute  453096 non-null  datetime64[ns]
 2   Value      453096 non-null  int64
 3   Variant    453096 non-null  object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 13.8+ MB

In [ ]:
df1.info()

In [30]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160730 entries, 0 to 160729
Data columns (total 3 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   location            160730 non-null  object
 1   date                160730 non-null  datetime64[ns]
 2   daily_vaccinations  160730 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 3.7+ MB

In [31]:
# Define both arrays (ensure they are complete)
dddd = np.array([df1['Country'].unique()])  # Fill in the array with all values
ffff = np.array([df2['location'].unique()])  # Fill in the array with all values

# Find differences
in_combined_not_vaccination = np.setdiff1d(dddd, ffff)
in_vaccination_not_combined = np.setdiff1d(ffff, dddd)

print("In Combined_df but not in Vaccination_df:", in_combined_not_vaccination)
print("In Vaccination_df but not in Combined_df:", in_vaccination_not_combined)

In Combined_df but not in Vaccination_df: ['American Samoa' 'Bonaire' 'Cabo Verde' 'Canary Islands' 'Crimea'
 'Czech Republic' 'Democratic Republic of the Congo' 'Faroe Islands'
 'French Guiana' 'Guadeloupe' 'Guam' 'Marshall Islands' 'Martinique'
 'Mayotte' 'Micronesia' 'Northern Mariana Islands' 'Palau' 'Puerto Rico'
 'Republic of the Congo' 'Reunion' 'Saint Barthelemy' 'Saint Martin'
 'Sint Maarten' 'The Bahamas' 'Timor-Leste' 'U.S. Virgin Islands'
 'Wallis and Futuna Islands']
In Vaccination_df but not in Combined_df: ['Bahamas' 'Bonaire Sint Eustatius and Saba' 'Cape Verde' 'Congo'
 'Cook Islands' 'Czechia' 'Democratic Republic of Congo' 'England'
 'Faeroe Islands' 'Falkland Islands' 'Greenland' 'Guernsey' 'Isle of Man'
 'Jersey' 'Nauru' 'Niue' 'Northern Cyprus' 'Northern Ireland' 'Oceania'
 'Pitcairn' 'Saint Helena' 'Samoa' 'San Marino' 'Scotland'
 'Sint Maarten (Dutch part)' 'Tajikistan' 'Timor' 'Tokelau' 'Tonga'
 'Turkmenistan' 'Tuvalu' 'Wales' 'Wallis and Futuna' 'Yemen']

In [54]:
# Replace 'USA' with 'United States' in the 'country' column
Vaccination_df['location'] = Vaccination_df['location'].replace('USA', 'United States')

# Display the DataFrame to confirm the change
Vaccination_df['location'].unique()

C:\Users\sharm\AppData\Local\Temp\ipykernel_5148\2093859242.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Vaccination_df['location'] = Vaccination_df['location'].replace('USA', 'United States')

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'European Union (27)',
       'Falkland Islands', 'Faroe Islands', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'High-income countries', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Low-income countries', 'Lower-middle-income countries',
       'Luxembourg', 'Macao', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Niue', 'North America', 'North Macedonia',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Upper-middle-income countries', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Wallis and Futuna', 'World',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [60]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160730 entries, 0 to 160729
Data columns (total 3 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   location            160730 non-null  object
 1   date                160730 non-null  datetime64[ns]
 2   daily_vaccinations  160730 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 3.7+ MB

In [61]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453096 entries, 0 to 453095
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Country    453096 non-null  object
 1   Attribute  453096 non-null  datetime64[ns]
 2   Value      453096 non-null  int64
 3   Variant    453096 non-null  object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 13.8+ MB

In [67]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309880 entries, 0 to 309879
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   country  309880 non-null  object
 1   Date     309880 non-null  datetime64[ns]
 2   Value    309880 non-null  float64
 3   Variant  309880 non-null  object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 9.5+ MB

In [63]:
combined_df['Date'] = pd.to_datetime(combined_df['Date'], errors='coerce')

In [64]:
Vaccination_df['date'] = pd.to_datetime(Vaccination_df['date'], errors='coerce')

C:\Users\sharm\AppData\Local\Temp\ipykernel_5148\3864680177.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Vaccination_df['date'] = pd.to_datetime(Vaccination_df['date'], errors='coerce')

In [68]:
combined_df.rename(columns={'country': 'Country','Date':'Attribute'}, inplace=True)

In [69]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309880 entries, 0 to 309879
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Country    309880 non-null  object
 1   Attribute  309880 non-null  datetime64[ns]
 2   Value      309880 non-null  float64
 3   Variant    309880 non-null  object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 9.5+ MB

In [70]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453096 entries, 0 to 453095
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Country    453096 non-null  object
 1   Attribute  453096 non-null  datetime64[ns]
 2   Value      453096 non-null  int64
 3   Variant    453096 non-null  object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 13.8+ MB

In [83]:

max_date_df1 = df1['Attribute'].max()

filtered_combined_df = combined_df[combined_df['Attribute'] > max_date_df1]

unique_countries_df1 = df1['Country'].unique()

filtered_combined_df = filtered_combined_df[filtered_combined_df['Country'].isin(unique_countries_df1)]


merged_df = pd.concat([df1, filtered_combined_df], ignore_index=True)

In [90]:
df1['Attribute'].min()

Timestamp('2019-12-29 00:00:00')

In [91]:
merged_df['Attribute'].min()

Timestamp('2019-12-29 00:00:00')

In [84]:

max_date_df2 = df2['date'].max()

filtered_combined_df2 = Vaccination_df[Vaccination_df['date'] > max_date_df2]

unique_countries_df2 = df2['location'].unique()


filtered_combined_df2 = filtered_combined_df2[filtered_combined_df2['location'].isin(unique_countries_df2)]


merged_df2 = pd.concat([df2, filtered_combined_df2], ignore_index=True)

merged_df2.head()

  location       date  daily_vaccinations
0   Norway 2020-12-02                   0
1   Norway 2020-12-03                   1
2   Latvia 2020-12-04                   0
3   Norway 2020-12-04                   1
4   Latvia 2020-12-05                   0

In [85]:
merged_df2['date'].max()

Timestamp('2024-08-12 00:00:00')

In [86]:
merged_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 184637 entries, 0 to 184636
Data columns (total 3 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   location            184637 non-null  object
 1   date                184637 non-null  datetime64[ns]
 2   daily_vaccinations  184637 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 4.2+ MB

In [87]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160730 entries, 0 to 160729
Data columns (total 3 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   location            160730 non-null  object
 1   date                160730 non-null  datetime64[ns]
 2   daily_vaccinations  160730 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 3.7+ MB

In [88]:
merged_df.to_excel('Variant.xlsx', index=False)

C:\Users\sharm\AppData\Local\Temp\ipykernel_5148\2172637706.py:1: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.3' currently installed).
  merged_df.to_excel('Variant.xlsx', index=False)

In [89]:
merged_df2.to_excel('Vaccination_24.xlsx', index=False)

C:\Users\sharm\AppData\Local\Temp\ipykernel_5148\2652722535.py:1: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.3' currently installed).
  merged_df2.to_excel('Vaccination_24.xlsx', index=False)